# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

#R
*.RData
*.Rout

#Imagens
*.png

# ==========================================
#e Virtual environments
# ==========================================

venv/
.env/
.venv/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VSCode
# ==========================================

.vscode/

# ==========================================
# PyCharm
# ==========================================

.idea/

# ==========================================
# OS files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# NetCDF / large scientific outputs
# ==========================================

*.nc
*.grib
*.grb
*.h5

# ==========================================
# Temporary files
# ==========================================

tmp/
temp/

# ==========================================
# Testing / coverage
# ==========================================

.coverage
htmlcov/
.pytest_cache/

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Environment variables
# ==========================================

.env
